
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

*{
    font-family: 'Raleway','Arial','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',YuGothic,'Yu Gothic','メイリオ', Meiryo,sans-serif;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $text-color;
}

body{
    background-color: $body-bg;
}

input {
    border: solid 1px $input-border;
}

input:placeholder-shown{
    opacity: 0.54;
    font-size: 0.9em;
}

input:focus{
    border: solid 1px $input-border-focus;
}